@charset 'utf-8';

$sp : 768px; // スマホ
$color: #282F35;
$btnColor : #F7D43F;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

/* ------------------------------ */
/* base
/* ------------------------------ */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 10px */
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div, figure,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Serif', 'Noto Serif JP', serif;
  color: $color;
  background-color: #fff;
  letter-spacing: .05em;
  line-height: 1;
  font-weight: normal;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
  &:hover {
    opacity: .7;
    transition: .3s;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
button {
  background-color: transparent;
  appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
input, textarea {
  resize: none;
  appearance: none;
  outline: none;
  border: 1px solid $color;
  width: 100%;
  color: $color;
}


.pc {
  @include sp { 
    display: none;
  }
}
.sp {
  display: none;
  @include sp { 
    display: block;
  }
}

/* ------------------------------ */
/* layout
/* ------------------------------ */
.container {
  display: block;
  width: 100%;
  // max-width: 1440px;
  margin: 0 auto;
  padding: 100px 50px 70px;
  @include sp {
    padding: 100px 4vw 40px;
  }
}
.section-inner {
  max-width: 1000px;
  margin: 0 auto;
  @include sp {
    // padding: 0 4vw;
  }
}


.submit-btn {
  display: block;
  width: 235px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 auto 70px;
  line-height: 60px;
  text-align: center;
  background-color: $btnColor;
  color: $color;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 6px #282F35;
  font-family: 'Noto Serif', serif;
  border: none;
  letter-spacing: .05em;
  &:hover {
    opacity: .7;
    transition: .3s;
    cursor: pointer;
  }
  @include sp {
    margin-bottom: 40px;
  }
}

/* ------------------------------ */
/* header
/* ------------------------------ */
.header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transition: .3s;
  @include sp {
    padding: 30px 4vw 0;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    a {
      font-style: italic;
    }
    .site-ttl {
      font-size: 2.6rem;
    }
  }
  &-nav {
    @include sp {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $color;
    }
  }
  &-list {
    display: flex;
    @include sp {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  &-item {
    margin-right: 30px;
    font-size: 1.6rem;
    @include sp {
      margin: 0 0 30px;
    }
    &:last-child {
      margin-right: 0;
      @include sp {
        margin-bottom: 0;
      }
    }
  }
  .burger-btn {
    display: none;
    @include sp {
      display: block;
      position: absolute;
      top: 30px;
      right: 4vw;
    }
    .bar {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      transition: .3s;
    }
    .bar_top,
    .bar_mid {
      margin-bottom: 8px;
    }
  }
}

.burger-btn.cross .bar_top {
  transform: rotate(45deg) translate(8px, 8px);
}
.burger-btn.cross .bar_mid {
  opacity: 0;
}
.burger-btn.cross .bar_bottom {
  transform: rotate(-45deg) translate(8px, -8px);
}
body.noscroll {
  overflow: hidden;
}


.header.fixed {
  position: fixed;
  background-color: $color;
  padding: 30px;
  width: 100%;
  transition: .3s;
}

/* ------------------------------ */
/* contact-mv
/* ------------------------------ */
.contact-mv {
  height: 453px;
  background: url(../img/contact-page-bgi@2x.jpg) no-repeat center/cover;
  @include sp {
    height: 360px;
  }
  &-ttl {
    font-size: 6rem;
    font-style: italic;
    text-align: center;
    padding-top: 186px;
    color: #fff;
    letter-spacing: .1em;
    @include sp {
      font-size: 3rem;
    }
  }
  &-bottom {
    font-size: 9rem;
    color: #fff;
    opacity: .1;
    margin: 20px 0 0 48px;
    letter-spacing: .05em;
    @include sp {
      font-size: 4rem;
      margin-left: 4vw;
    }
  }
}


/* ------------------------------ */
/* form
/* ------------------------------ */
.form {
  padding: 100px 0 80px;
  &-list {
    max-width: 700px;
    margin: 0 auto 80px;
    padding: 0 50px;
    @include sp {
      padding: 0 4vw;
    }
  }
  &-item {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.6rem;
  }
  .input-txt {
    padding: 0 8px;
    line-height: 30px;
  }
  .textarea {
    height: 170px;
    padding: 0 8px;
    line-height: 30px;
  }
  .checkbox-list {
    display: flex;
    @include sp {
      display: block;
      margin-top: 15px;
    }
  }
  .checkbox-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    @include sp {
      margin-right: 0;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    label {
      cursor: pointer;
      display: inline-block;
      font-size: 1.6rem;
    }
  }
  .checkbox {
    cursor: pointer;
    border: 1px solid $color;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    display: inline-block;
    &:checked {
      background-color: #333;
    }
  }
}

/* ------------------------------ */
/* footer
/* ------------------------------ */
.footer {
  padding: 30px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}